{
    "soper" : {
        "operators" : {
            "alyx" : "sra",
            "MattB" : "sra",
            "JStoker" : "admin",
    	    "Cody"  : "oper"   
        },

        "sra" : {
            "opersvs" : [ 'global', 'update', 'override' ],
            "chansvs" : [ 'override' ],
            "nicksvs" : [ 'override', 'manage' ],
            "hostsvs" : [ 'override' ]
        },

        "admin" : {
            "opersvs" : [ 'global', 'update', 'override' ],
            "chansvs" : [ 'override' ],
            "nicksvs" : [ 'override', 'manage' ],
            "hostsvs" : [ 'override' ]
        },
        "oper" : {
            "opersvs" : [ 'global', 'update' ],
            "nicksvs" : [ 'manage' ]
        }
}
